html, body
{
    height: 100%;
}

.b-layout
{
    min-height: 100%;
    
    background: #030303;
    z-index: 10;
}


.b-layout__content
{
    position: relative;
    z-index: 20;
	min-width: 100%;
	
	display: inline-block;

    padding-bottom: 80px;
}


body,
.b-layout_inner .b-layout__content
{
	background: url(b-layout_inner.png);
	
	padding-bottom: 0;
}
