.b-pane
{	
    padding: 1em 1.9em 0.5em;
    
    background: #434343 url(b-pane.gif) 0 100% repeat-x;
    color: #fff;    
    min-width: 530px;
}

.body-gallery .b-pane {
	position: fixed;
    top: 0;
    width: 100%;
} 

.b-pane__title
{
    font: 1.8em Arial;
    
    padding-bottom: 0.2em;
    
    text-shadow: 0 1px 1px #000;
	
	vertical-align: middle;
}

.b-pane__additional
{
    overflow: hidden;
}

.b-pane__secondary-title
{    
    font: 1.3em Arial;
    
    height: 1.7em;
    
    float: left;
    vertical-align: middle;
    
    text-shadow: 0 1px 1px #000;
    color: #e9e9e9;
}

 .b-pane__title .b-pane__secondary-title
{
	font: 0.7em Arial;
	
	/*display: inline-block;*/
	
	float: none;
	
	display: none;
}

.b-pane__actions-wrapper
{
    height: 1.7em;
    
    float: right;
    
    text-align: right;
    vertical-align: middle;
}

.b-pane__back
{
	font-size: 1em;
	
	display: inline-block;
	
	height: 14px;
	padding-left: 18px;
	
	background: url(b-pane__back.png) 0 50% no-repeat;
    
    text-shadow: 0 1px 1px #000;
    color: #a7a7a7;
	text-decoration: none;
	
	display: none;
}

.b-pane__back:hover
{
	text-decoration: underline;
}
