.b-context-popup
{
	position: absolute;
	
	padding: 10px;
	
	background: #fff;
	display: none;
}

.b-context-popup__image
{
	overflow: hidden;
	max-width: 600px; /* Р�РІР°РЅРѕРІ РїСЂРµРґР»РѕР¶РёР» СЌС‚Рѕ РІ РєР°С‡РµСЃС‚РІРµ РјР°РєСЃРёРјР°Р»СЊРЅРѕР№ РІС‹СЃРѕС‚С‹ */
}

.b-context-popup__image-info
{
	border-collapse: collapse;
}

.b-context-popup__image-info__info
{
	font: 1.1em Verdana;
	
	padding-top: 5px;
}

.b-context-popup__image-info__info_right
{
	text-align: right;
}

.b-context-popup__image-info__info__link:hover
{
	color: red;
}

.b-context-popup__image-info__image-cont {text-align: center;}