.b-context-popup
{
	position: absolute;
	
	padding: 10px;
	
	background: #fff;
	display: none;	
}

.b-context-popup__image
{
	overflow: hidden;
	max-width: 600px; 
	display: block;	
	margin: 0 auto;
}

.b-context-popup__image-info
{
	border-collapse: collapse;
}

.b-context-popup__image-info__info
{
	font: 1.1em Verdana;
	
	padding-top: 5px;
}

.b-context-popup__image-info__info-i
{
	overflow: hidden;
	position: relative;
}

.b-context-popup__image-info__info-i-i
{
	position: absolute;
}

.b-context-popup__image-info__info_left {
	padding-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 71px;
}

.b-context-popup__image-info__info_right
{
	text-align: right;
	width: 70px;
	float: right;
}

.b-context-popup__image-info__info__link:hover
{
	color: red;
}

.b-context-popup__image-info__image-cont {text-align: center;}