.b-actions__action
{
    font: 1.3em Arial;
    
    position: relative;
    
    margin-left: 10px;
    
    color: #e9e9e9;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
}

a.b-actions__action:hover
{
    text-decoration: underline;
}

.b-actions__action__icon
{
    position: absolute;
    left: 0;
    top: 50%;
    
    background: url(b-actions__action__icon.png) no-repeat;    
}

/* Share (begin) */ /**/
    .b-actions__action_share
    {
        padding-left: 18px; /* width + 3px */
    }
    
    .b-actions__action_share .b-actions__action__icon
    {
        margin-top: -7px;
        width: 15px;
        height: 15px;
        
        background-position: -36px 0;
    }
/* Share (end) */ /**/

/* Slideshow (begin) */ /**/
    .b-actions__action_slideshow
    {
        padding-left: 21px; /* width + 3px */
    }
    
    .b-actions__action_slideshow .b-actions__action__icon
    {
        margin-top: -7px;
        width: 18px;
        height: 14px;
        
        background-position: 0 0;
    }
/* Slideshow (end) */ /**/
	.b-actions__action_slideshow.stop .b-actions__action__icon
	{
		background-position: -18px 0;
	}
/* Download (begin) */ /**/
    .b-actions__action_download
    {
        padding-left: 18px; /* width + 3px */
    }
    
    .b-actions__action_download .b-actions__action__icon
    {
        margin-top: -7px;
        width: 15px;
        height: 15px;
        
        background-position: -51px 0;
    }
/* Download (end) */ /**/

/* Show info (begin) */ /**/
    .b-actions__action_show-info
    {
        padding-left: 20px; /* width + 3px */
    }
    
    .b-actions__action_show-info .b-actions__action__icon
    {
        margin-top: -8px;
        width: 17px;
        height: 17px;
        
        background-position: -66px 0;
    }
/* Show info (end) */ /**/

/* Show thumbnails (begin) */ /**/
    .b-actions__action_show-thumbnails
    {
        padding-left: 20px; /* width + 3px */
    }
    
    .b-actions__action_show-thumbnails .b-actions__action__icon
    {
        margin-top: -7px;
        width: 17px;
        height: 14px;
        
        background-position: -83px 0;
    }
/* Show info (end) */ /**/

.b-actions__action_show-thumbnails, .b-actions__action_show-info, .b-actions__action_download {
    display: none;
}